.v-footer {
  margin-top: 1rem;
  color: white;
  display: flex;
  flex-direction: column;

  .contact-us {
    margin: 0 auto;

    &__header {
      padding: 1rem 0 1rem;

      .display-1 {
        text-align: center;
        padding-bottom: .5rem;
        border-bottom: 2px solid white;
        width: 180px;
        margin: 0 auto;
        border-color: rgb(33, 150, 243);
      }

      .subheading {
        padding-top: .5rem;
        text-align: center;
      }
    }
  }

  .contact-us__main {
    width: 90vw;

    .contacts-flex { 
      flex: 0 1 30%; 
      margin-right: 1rem; 
      
      .icon-df {

        .flex { flex: 0 1 auto; margin-bottom: 1rem; }

        svg { margin-right: 1rem; font-size: 1.2rem; }

        .flex:last-of-type { position: relative; }

        .subheading {
          text-align: center;
          padding-bottom: .5rem;
          border-bottom: 2px solid white;
          width: 250px;
          border-color: rgb(33, 150, 243);
        }

        .v-btn {
          position: absolute;
          left: 274px;
          bottom: 13px;
        }
      }
    }

    .contact-form-flex { 
      flex: 0 1 65%; 
      
      .v-form {
        display: flex;
        flex-direction: column;
        padding-left: 6rem;

        .v-btn {
          align-self: flex-start;
          margin: 1rem 0 0 0;
        }
      }
    }

    .wrapper {
      .v-input { width: 40%; display: inline-block; margin-right: 1rem; }
    }

    .input-message { width: 82%; }
  }

  .bottom-footer { 
      .wrapper {
        width: 100vw;
        text-align: center;
        margin-top: 2rem;
        
        a { margin-right: 1rem; }
      }

      .copyright {
        width: 100vw;
        text-align: center;
        margin-top: 2rem;

        span:first-of-type { border-right: 2px solid rgb(33, 150, 243); padding-right: 1rem; }

        span:last-of-type { padding-left: 1rem; }
      }
  }
}