.first-flexbox {
  margin: 1rem;

  .flex {
    flex: 0 1 auto;
  }
}

.third-flexbox {
  margin: 0 auto;
  width: 70vw;
  justify-content: space-between;

  .flex {
    flex: 0 1 40%;
  }

  .flex:nth-of-type(2) {
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      font-family: $base-font-family;
      font-size: 2.5rem;
      text-align: center;
    }
  }
}