//Google fonts
@import url('https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Open+Sans');

//Font-families
$base-font-family: 'Open Sans', sans-serif;
$heading-font-family: 'Merriweather', serif;
$subheading-font-family: 'Montserrat', sans-serif;

//Font-sizes
$base-font-size: 16px;
$heading-font-size: 24px;
$subheading-font-size: 20px;


